* {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu';
}

.page__wrapper {
	width: 100%;
	padding-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.password__input {
	outline: none;
	margin-left: 1%;
	padding: 5px;

	&--correct {
		border-color: limegreen;
		background-color: #d4ffd4;
	}
	
	&--incorrect {
		border-color: red;
		background-color: #ffd4d4;
	}
}

.password-hints {

	&__block {
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		background-color: #f6f6f6;
		border: 1px solid #ccc;
		padding: 5px;
		height: 150px;
		width: 184px;
		position: absolute;
		margin-top: 110px;
		margin-left: 63px;
		font-size: .8rem;
	}
}

.hidden {
	display: none;
}
